.table-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left-items {
    .export {
      display: flex;
      align-items: center;
      cursor: pointer;
      .export-icon {
        stroke: #6250f5;
      }
      .export-text {
        font-size: 20px;
        margin-right: 15px;
        color: #6250f5;
        text-decoration-line: underline;
      }
    }
  }
}
