<div class="container">
    <div class="header" (click)="$event.stopPropagation(); $event.preventDefault();">
        <div class="prev">
            <i-feather name="chevron-left" (click)="selectedYear = selectedYear - 1; setDateText()"></i-feather>
        </div>
        <div class="year-dropdown">
            <mat-select [value]="selectedYear" (selectionChange)="selectedYear = $event.value; setDateText()"
                panelClass="custom-mat-select-panel">
                <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
            </mat-select>
        </div>
        <div class="next">
            <i-feather name="chevron-right" (click)="selectedYear = selectedYear + 1; setDateText()"></i-feather>
        </div>
    </div>
    <div class="month-selection">
        <table>
            <tbody>
                <ng-container *ngFor="let month of months">
                    <tr *ngIf="month.index % 4 === 0">
                    </tr>
                    <td [ngClass]="{'active': selectedMonth === month.index}"
                        (click)="selectedMonth = month.index; setDateText()">{{month.shortName}}</td>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>