<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)" matSort (matSortChange)="sortData($event); sortActive = $event;">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-sort-header="id" cdkDrag mat-header-cell *matHeaderCellDef>
            <ng-container *cdkDragPreview>
                <ng-container *ngTemplateOutlet="dragPreviewTemplate; context: {column: 'id', th: 'No.'}">
                </ng-container>
            </ng-container>
            <i-feather class="top-line" name="minus"></i-feather>
            <span> No.</span>
            <ng-container *ngTemplateOutlet="sortIconTemplate; context: {column: 'id'}"></ng-container>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="email">
        <th mat-sort-header="email" cdkDrag mat-header-cell *matHeaderCellDef>
            <i-feather class="top-line" name="minus"></i-feather>
            <span> Email </span>
            <ng-container *ngTemplateOutlet="sortIconTemplate; context: {column: 'email'}"></ng-container>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="first_name">
        <th mat-sort-header="first_name" cdkDrag mat-header-cell *matHeaderCellDef>
            <i-feather class="top-line" name="minus"></i-feather>
            <span>First Name</span>
            <ng-container *ngTemplateOutlet="sortIconTemplate; context: {column: 'first_name'}"></ng-container>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="last_name">
        <th mat-sort-header="last_name" cdkDrag mat-header-cell *matHeaderCellDef>
            <i-feather class="top-line" name="minus"></i-feather>
            <span>Last Name</span>
            <ng-container *ngTemplateOutlet="sortIconTemplate; context: {column: 'last_name'}"></ng-container>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="avatar">
        <th mat-sort-header="avatar" cdkDrag mat-header-cell *matHeaderCellDef>
            <i-feather class="top-line" name="minus"></i-feather>
            <span> Avatar</span>
            <ng-container *ngTemplateOutlet="sortIconTemplate; context: {column: 'avatar'}"></ng-container>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.avatar}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<dzr-table-footer [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (pageEvent)="pageEventChanged($event)">
</dzr-table-footer>

<ng-template #sortIconTemplate let-column="column">
    <div class="sort-icon-container">
        <i-feather [ngClass]="{'sort-asc-active': sortActive.active === column && sortActive.direction === 'asc'}"
            class="sort-asc" name="triangle">
        </i-feather>
        <i-feather [ngClass]="{'sort-desc-active': sortActive.active === column && sortActive.direction === 'desc'}"
            class="sort-desc" name="triangle">
        </i-feather>
    </div>
</ng-template>

<!--This is the template for show while dragging the template-->
<ng-template #dragPreviewTemplate let-column="column" let-th="th">
    <table class="drag-table">
        <thead>
            <tr>
                <th>{{th}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of getDragSource(column)">
                <td>{{item}}</td>
            </tr>
        </tbody>
    </table>
</ng-template>