<h1>Table Dragger</h1>

<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <table class="table mat-elevation-z8" id="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Salary</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of rowData">
                        <td>{{data.Id}}</td>
                        <td>{{data.Name}}</td>
                        <td>{{data.Age}}</td>
                        <td>{{data.Address}}</td>
                        <td>{{data.City}}</td>
                        <td>{{data.Salary}}</td>
                        <td>{{data.Department}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- 
<mat-paginator dzr-pagination [pageSizeOptions]="[5,10,15]" [pageSize]="5" [length]="100">
</mat-paginator> -->