::ng-deep .gu-mirror {
  background: aqua;
  border-radius: 8px;
  opacity: 1;
}

table {
  thead {
    background: #6250f5;
  }
}
.sindu_origin_table {
  tr {
    th:first-child {
      border-top-left-radius: 8px;
    }
    th:last-child {
      border-top-right-radius: 8px;
    }
  }
}

::ng-deep .sindu_dragger {
  ul:first-child {
    tr {
      th {
        border-top-left-radius: 8px !important;
      }
    }
  }
  ul:last-child {
    tr {
      th {
        border-top-right-radius: 8px;
      }
    }
  }
}
