<div class="dropdown-container">
    <button class="dzr-dropdown" [ngClass]="{'menu-open': t.menuOpen}" [matMenuTriggerFor]="aboveMenu"
        #t="matMenuTrigger">
        <span>{{!!selectedItem.value ? selectedItem.value : placeHolder}}</span>
        <i-feather *ngIf="!t.menuOpen" name="chevron-down"></i-feather>
        <i-feather *ngIf="t.menuOpen" name="chevron-up"></i-feather>
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="below" backdropClass="custom-dzr-dropdown-menu-panel">
        <button class="mat-menu-item-container" *ngFor="let item of dropDownItems" mat-menu-item
            (click)="menuItemClicked(item)" [ngClass]="{'selected-menu': selectedItem.index === item.index}">
            <span>{{item.value}}</span>
            <i-feather *ngIf="selectedItem.index === item.index" name="check-circle" class="selected-circle-icon">
            </i-feather>
        </button>
    </mat-menu>
</div>