.dzr-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border: 1px solid #5a5a5a;
  border-radius: 8px;
  height: 60px;
  width: 476px;
  color: #5a5a5a;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  padding-left: 20px;
}

::ng-deep .mat-menu-panel {
  max-width: none !important;
  width: 476px !important;
  height: 290px;
  background: #fafafa;
  border: 1px solid #5a5a5a;
  border-top: 1px solid #dedede;
  box-shadow: 0px 9px 20px rgba(132, 119, 239, 0.2);
  border-radius: 8px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;

  .mat-menu-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .mat-menu-item {
      height: 58px;
      font-size: 18px;
    }
  }
}

.menu-open {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #6250f5;
}

.mat-menu-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i-feather {
    margin-bottom: 25px;
  }
  .selected-circle-icon {
    stroke: #6250f5;
  }
}

.selected-menu {
  color: #6250f5 !important;
}
