<div class="navigate">
    <button class="main-button" mat-raised-button color="primary" [matMenuTriggerFor]="controlMenu">Controls</button>
    <mat-menu #controlMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="show('dropdown')">Dropdown</button>
        <button mat-menu-item (click)="show('dropdown2')">Dropdown2</button>
        <button mat-menu-item (click)="show('tooltip')">Tooltip</button>
        <button mat-menu-item (click)="show('autocomplete')">Autocomplete</button>
    </mat-menu>

    <button class="main-button" mat-raised-button color="primary"
        [matMenuTriggerFor]="componentMenu">Components</button>
    <mat-menu #componentMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="show('table')">Table</button>
    </mat-menu>
</div>

<div class="content">
    <ng-container *ngIf="showItem === 'dropdown'" [ngTemplateOutlet]="dropdown"></ng-container>
    <ng-template *ngIf="showItem === 'table'" [ngTemplateOutlet]="table"></ng-template>
    <ng-template *ngIf="showItem === 'tooltip'" [ngTemplateOutlet]="tooltip"></ng-template>
    <ng-template *ngIf="showItem === 'dropdown2'" [ngTemplateOutlet]="dropdown2"></ng-template>
    <ng-template *ngIf="showItem === 'autocomplete'" [ngTemplateOutlet]="autocomplete"></ng-template>
</div>


<!-- Dropdown -->
<ng-template #dropdown class="dropdown">
    <h4>Dropdown</h4>
    <dzr-dropdown [dropDownItems]="dropdownItems" (change)="log($event)"></dzr-dropdown>
</ng-template>

<!-- Dzr Material Table -->
<ng-template #table class="table">
    <h4>Table</h4>
    <dzr-mat-table></dzr-mat-table>
</ng-template>

<!-- Dzr Tooltip -->
<ng-template #tooltip>
    <h4>Tooltip</h4>
    <dzr-password-tootip></dzr-password-tootip>
</ng-template>

<!-- Dropdown2 -->
<ng-template #dropdown2>
    <h4>Dropdown2</h4>
    <dzr-dropdown2 [itemsArray]="itemsArray" textField="value" *ngIf="showItem === 'dropdown2'"></dzr-dropdown2>
</ng-template>

<!-- Autocomplete -->
<ng-template #autocomplete>
    <dzr-auto-complete></dzr-auto-complete>
</ng-template>


<ng-template></ng-template>
<ng-template></ng-template>
<ng-template></ng-template>
<ng-template></ng-template>
<ng-template></ng-template>
<ng-template></ng-template>
<ng-template></ng-template>
<ng-template></ng-template>
<ng-template></ng-template>
<ng-template></ng-template>
<ng-template></ng-template>
<ng-template></ng-template>