.dzr-paginator-container {
  display: flex;
  align-items: center;

  .items-per-page {
    margin-right: 50px;

    span {
      font-size: 18px;
      color: #000000;
    }

    select {
      border: 1px solid #ccc;
      border-radius: 3px;
      background-color: transparent;
      padding: 4px 6px;
      background-image: none;
      margin-left: 16px;
      font-size: 15px;
    }
  }

  .dzr-paginator {
    display: flex;
    align-items: center;

    .prev-button,
    .next-button {
      border: none;
      background: none;
    }

    .page-button {
      min-width: 30px;
      height: 30px;
      border: 1px solid #cccccc;
      background: #ffffff;
      border-radius: 3px;
      font-size: 15px;
      color: #212121;
      margin: 5px;
    }

    .ellipsis-icon {
      stroke: #5a5a5a;
    }

    .active {
      background: blue;
      color: white;
    }
  }
}
